.main{
    display: flex;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
}

#spanWho{
    color: #48c557;
    font-weight: 600;
    font-size: 24px;
}

.blockArea{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 24px;
    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.311);
}

.blockItem{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 24px;
    padding: 8px;
    margin: 5px;
    background-color: gray;
}

.blockItem:hover{
    background-color: rgb(185, 181, 181);
}

.krest{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #43a9d1;
    font-size: 38px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c8d143;
    font-size: 38px;
}

.winColor{
    color: #2f864f;
    background-color: gold;
    font-size: 50px;
    font-weight: 900;
}

.blockWinner{
    display: none;
    flex-direction: column;
    margin-top: 12px;
}

#spanWin{
    color: gold;
    font-weight: 600;
    font-size: 24px;
}

.btnNewGame{
    padding: 12px;
    border-radius: 12px;
    font-weight: 600;
    border: 1px solid #43a9d1;
    background-color: #43a9d1;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
}

.btnNewGame:hover{
    background-color: transparent;
    color: #43a9d1;
}