:root{
    --gold: #ffd700;
    --gray: #808080;
    --green: #48c557;
    --gray_Light: #b9b5b5;
    --accent: #43a9d1;
    --white: #fff;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

#spanWho{
    color: var(--green);
    font-size: 24px;
}

.blockArea{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 24px;
    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.311);
}

.blockItem{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 24px;
    padding: 8px;
    margin: 5px;
    background-color: var(--gray);
}

.blockItem:hover{
    background-color: var(--gray_Light);
}

.krest{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    font-size: 38px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold);
    font-size: 38px;
}

.winColor{
    color: var(--green);
    background-color: var(--gold);
    font-size: 50px;
    font-weight: 900;
}

.blockWinner{
    display: none;
    flex-direction: column;
    margin-top: 12px;
}

#spanWin{
    color: var(--gold);
    font-size: 24px;
}

.btnNewGame{
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: var(--white);
    cursor: pointer;
    margin-top: 12px;
}

.btnNewGame:hover{
    background-color: transparent;
    color: var(--accent);
}