:root{
    --Gold: #ffd700;
    --Gray: #808080;
    --Green: #48c557;
    --Gray_Light: #b9b5b5;
    --Accent: #43a9d1;
    --White: #fff;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

#spanWho{
    color: var(--Green);
    font-size: 24px;
}

.blockArea{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 24px;
    box-shadow: 3px 5px 1px 1px rgba(0, 0, 0, 0.311);
}

.blockItem{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 24px;
    padding: 8px;
    margin: 5px;
    background-color: var(--Gray);
}

.blockItem:hover{
    background-color: var(--Gray_Light);
}

.krest{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Accent);
    font-size: 38px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Gold);
    font-size: 38px;
}

.winColor{
    color: var(--Green);
    background-color: var(--Gold);
    font-size: 50px;
    font-weight: 900;
}

.blockWinner{
    display: none;
    flex-direction: column;
    margin-top: 12px;
}

#spanWin{
    color: var(--Gold);
    font-size: 24px;
}

.btnNewGame{
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--Accent);
    background-color: var(--Accent);
    color: var(--White);
    cursor: pointer;
    margin-top: 12px;
}

.btnNewGame:hover{
    background-color: transparent;
    color: var(--Accent);
}